@tailwind components;

// This won't be included in your compiled CSS unless you actually use it
@layer components {
  .accordion-search-result {
    > .accordion-item {
      border-radius: 0;
      border-top: var(--b-accordion-border-width) solid var(--b-accordion-border-color);

      .accordion-button {
        border-radius: 0 !important;

        &:hover {
          background-color: #eceef0;
        }

        [data-bs-theme=dark] &:hover {
          background-color: #323538;
        }
      }
    }
  }

  // For equate btn-outline border color with input field
  .input-group .btn:not(:hover) {
    border-color: var(--b-border-color);
  }

  .md-view {
    a {
      text-decoration: none;
    }

    img {
      max-width: 100%;
    }
  }

  .codeView:not(:hover) {
    > .btn {
      display: none;
    }
  }

  .range-v {
    width: 2rem;
    height: 175px;
    position: relative;
    margin: 0 auto;
  }

  .range-v .form-range {
    width: 175px;
    height: 16px;
    left: 0;
    bottom: -0.75em;
    transform: rotate(-90deg) translateY(calc(2rem / 2));
    transform-origin: left;
    position: absolute;
  }

  .search-navmain:focus-within {
    position: absolute;
    inset: 0;
    width: 100% !important;
    z-index: 1;

    > .form-control {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    > .btn-search {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
