@tailwind utilities;

// This won't be included in your compiled CSS unless you actually use it
@layer utilities {
  :root {
    --bs-tertiary-bg-rgb: 248,249,250;
  }

  [data-bs-theme=dark] {
    --b-tertiary-bg-rgb: 43, 48, 53;
  }

  .bg-body-tertiary {
    --b-bg-opacity: 1;
    background-color: rgba(var(--b-tertiary-bg-rgb), var(--b-bg-opacity)); //  !important
  }

  [data-bs-theme=dark] .bg-mode {
    color: var(--b-body-color);
    background-color: #6c757d;
  }

  [data-bs-theme=dark] .bg-mode-2 {
    color: var(--b-body-color);
    background-color: #404347;
  }

  [data-bs-theme=dark] .bg-mode-hover:hover {
    background-color: #323538;
  }

  [data-bs-theme=light] .bg-main {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }

  .text-mode {
    color: var(--b-body-color);
  }

  a.text-mode:hover {
    color: var(--b-primary);
  }

  .align--2px {
    vertical-align: -2px;
  }
}
